## Last time we found how to import data, reviewed the mentality of using DataFrames, what are DataFrames limitations, and why you would use it over others (SQL, Excel).  This time we are going over fixing broken data with Pandas.

In [1]:
import pandas as pd
pd.set_option('max_rows',15)
#changing the column headings to title case to set up for the demo's below
parking_meters = pd.read_csv('treas_parking_meters_loc_datasd.csv')
parking_meters.columns = parking_meters.columns.str.title()
parking_meters.to_csv('treas_parking_meters_loc_datasd.csv', index=False)

## We are still in the Mid-level of the Python Data Stack.

In [2]:
from IPython.display import Image
from IPython.core.display import HTML
Image(url="Python-datasci.jpg", width=600, height=600)

## The data we will be using is from the data.SanDiego.gov site.

In [3]:
#mea culpa: I changed the heading to be title case before I started this so I could have some way to manipulate the columns
parking_meters = pd.read_csv('treas_parking_meters_loc_datasd.csv')

In [4]:
parking_meters.head()

,Zone,Area,Sub_Area,Pole,Config_Code,Config_Name,Longitude,Latitude
0,City,Barrio Logan,2900 ADDISON ST,ADN-2912,9116,30 Min Max $1.25 HR 8am-6pm Mon-Sat,-117.230904,32.721670
1,City,Barrio Logan,2900 ADDISON ST,ADN-2914,9116,30 Min Max $1.25 HR 8am-6pm Mon-Sat,-117.230913,32.721575
2,City,Barrio Logan,1000 CESAR CHAVEZ WAY,CC-1003,9000,2 Hour Max $1.25 HR 8am-6pm Mon-Sat,-117.145178,32.700353
3,City,Barrio Logan,1000 CESAR CHAVEZ WAY,CC-1005,9000,2 Hour Max $1.25 HR 8am-6pm Mon-Sat,-117.145178,32.700352
4,City,Barrio Logan,1000 CESAR CHAVEZ WAY,CC-1011,9000,2 Hour Max $1.25 HR 8am-6pm Mon-Sat,-117.145349,32.700155

In [5]:
parking_meters.columns  # you can see just the column names

Index(['Zone', 'Area', 'Sub_Area', 'Pole', 'Config_Code', 'Config_Name',
       'Longitude', 'Latitude'],
      dtype='object')

In [6]:
#the column names are separate from your data so changing them is easy, make sure to account for all of them.
parking_meters.columns = ['zone', 'area', 'sub_area', 'pole', 'config_code', 'config_name',
       'longitude', 'latitude']
# also I could do this:
# parking_meters.columns = parking_meters.columns.str.lower()

## In this dataset the index is numeric but the index can be any column or columns (which I will show in a later talk)

In [7]:
parking_meters.index # these are what indexes the rows are based on. (the column(s) on the left)

RangeIndex(start=0, stop=4653, step=1)

In [8]:
len(parking_meters['pole'].unique())  #how many parking meters are we talking about?  This is like running set()

4653

In [9]:
parking_meters['zone'].unique()

array(['City', 'Downtown', 'Mid-City', 'Uptown'], dtype=object)

In [10]:
# maybe your data just wonderfully fits as the datatypes you want to work with 
parking_meters.dtypes

zone            object
area            object
sub_area        object
pole            object
config_code      int64
config_name     object
longitude      float64
latitude       float64
dtype: object

In [11]:
parking_meters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4653 entries, 0 to 4652
Data columns (total 8 columns):
zone           4653 non-null object
area           4653 non-null object
sub_area       4653 non-null object
pole           4653 non-null object
config_code    4653 non-null int64
config_name    4653 non-null object
longitude      4653 non-null float64
latitude       4653 non-null float64
dtypes: float64(2), int64(1), object(5)
memory usage: 290.9+ KB

## Here is a new type we haven't looked at called Category.

In [12]:
parking_meters.zone.unique()

array(['City', 'Downtown', 'Mid-City', 'Uptown'], dtype=object)

In [13]:
parking_meters.zone = parking_meters.zone.astype('category')
parking_meters.dtypes

zone           category
area             object
sub_area         object
pole             object
config_code       int64
config_name      object
longitude       float64
latitude        float64
dtype: object

In [14]:
parking_meters.head()

,zone,area,sub_area,pole,config_code,config_name,longitude,latitude
0,City,Barrio Logan,2900 ADDISON ST,ADN-2912,9116,30 Min Max $1.25 HR 8am-6pm Mon-Sat,-117.230904,32.721670
1,City,Barrio Logan,2900 ADDISON ST,ADN-2914,9116,30 Min Max $1.25 HR 8am-6pm Mon-Sat,-117.230913,32.721575
2,City,Barrio Logan,1000 CESAR CHAVEZ WAY,CC-1003,9000,2 Hour Max $1.25 HR 8am-6pm Mon-Sat,-117.145178,32.700353
3,City,Barrio Logan,1000 CESAR CHAVEZ WAY,CC-1005,9000,2 Hour Max $1.25 HR 8am-6pm Mon-Sat,-117.145178,32.700352
4,City,Barrio Logan,1000 CESAR CHAVEZ WAY,CC-1011,9000,2 Hour Max $1.25 HR 8am-6pm Mon-Sat,-117.145349,32.700155

In [15]:
parking_meters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4653 entries, 0 to 4652
Data columns (total 8 columns):
zone           4653 non-null category
area           4653 non-null object
sub_area       4653 non-null object
pole           4653 non-null object
config_code    4653 non-null int64
config_name    4653 non-null object
longitude      4653 non-null float64
latitude       4653 non-null float64
dtypes: category(1), float64(2), int64(1), object(4)
memory usage: 259.3+ KB

## Here are some operations to try on your dataframe involving searching and sorting.

In [16]:
parking_meters[1:3] # returns the row index #1 through #3 (but not including #3)

,zone,area,sub_area,pole,config_code,config_name,longitude,latitude
1,City,Barrio Logan,2900 ADDISON ST,ADN-2914,9116,30 Min Max $1.25 HR 8am-6pm Mon-Sat,-117.230913,32.721575
2,City,Barrio Logan,1000 CESAR CHAVEZ WAY,CC-1003,9000,2 Hour Max $1.25 HR 8am-6pm Mon-Sat,-117.145178,32.700353

In [17]:
parking_meters['sub_area'] # how to access a column

0             2900 ADDISON ST
1             2900 ADDISON ST
2       1000 CESAR CHAVEZ WAY
3       1000 CESAR CHAVEZ WAY
4       1000 CESAR CHAVEZ WAY
5       1000 CESAR CHAVEZ WAY
6       1000 CESAR CHAVEZ WAY
                ...
4646           4600 PARK BLVD
4647           4600 PARK BLVD
4648           4600 PARK BLVD
4649           4600 PARK BLVD
4650           4600 PARK BLVD
4651           4600 PARK BLVD
4652           4600 PARK BLVD
Name: sub_area, Length: 4653, dtype: object

In [18]:
parking_meters[1:3]['pole']  # mix and match the last 2 examples  you can do: parking_meters['pole'][1:3]  as well

1    ADN-2914
2     CC-1003
Name: pole, dtype: object

## Pandas DataFrame Queries:  This is the mechanics to how queries work.

In [19]:
parking_meters['area']=='Barrio Logan'  #returns Truth values whether the query is true for each row.

0        True
1        True
2        True
3        True
4        True
5        True
6        True
        ...
4646    False
4647    False
4648    False
4649    False
4650    False
4651    False
4652    False
Name: area, Length: 4653, dtype: bool

## Normal Python operators like "and" and "or" won't work in a Pandas query because they compare single values on the left and right.  We need operators that work on entire columns.  Pandas uses a single ampersand for and, pipe for or, and carrat for symmetric difference.

In [20]:
(parking_meters['area']=='Barrio Logan') & (parking_meters['longitude']<=117)  #and

0        True
1        True
2        True
3        True
4        True
5        True
6        True
        ...
4646    False
4647    False
4648    False
4649    False
4650    False
4651    False
4652    False
Length: 4653, dtype: bool

In [21]:
(parking_meters['area']=='Barrio Logan') | (parking_meters['longitude']<=117)  #or

0       True
1       True
2       True
3       True
4       True
5       True
6       True
        ...
4646    True
4647    True
4648    True
4649    True
4650    True
4651    True
4652    True
Length: 4653, dtype: bool

In [22]:
(parking_meters['area']=='Barrio Logan') ^ (parking_meters['longitude']<=117)  #symmetric difference

0       False
1       False
2       False
3       False
4       False
5       False
6       False
        ...
4646     True
4647     True
4648     True
4649     True
4650     True
4651     True
4652     True
Length: 4653, dtype: bool

## Mix and match to make complex queries by putting everything in brackets

In [32]:
parking_meters[(parking_meters['area']=="Barrio Logan")][2:8][['pole','config_code']]

0             2900 ADDISON ST
1             2900 ADDISON ST
2       1000 CESAR CHAVEZ WAY
3       1000 CESAR CHAVEZ WAY
4       1000 CESAR CHAVEZ WAY
5       1000 CESAR CHAVEZ WAY
6       1000 CESAR CHAVEZ WAY
                ...
4646           4600 PARK BLVD
4647           4600 PARK BLVD
4648           4600 PARK BLVD
4649           4600 PARK BLVD
4650           4600 PARK BLVD
4651           4600 PARK BLVD
4652           4600 PARK BLVD
Name: sub_area, Length: 4653, dtype: object

## Now onto munging:

### I want to get the dollar amounts from the meters which is in config_name.  But config_name wasn't comma delimited like it should be.  We could fix it in the data before import or we could fix it in Pandas MUCH easier.  (then export it so nobody else has this problem)

In [24]:
parking_meters['config_name'].head()

0    30 Min Max $1.25 HR 8am-6pm Mon-Sat
1    30 Min Max $1.25 HR 8am-6pm Mon-Sat
2    2 Hour Max $1.25 HR 8am-6pm Mon-Sat
3    2 Hour Max $1.25 HR 8am-6pm Mon-Sat
4    2 Hour Max $1.25 HR 8am-6pm Mon-Sat
Name: config_name, dtype: object

### We can use .str to get access to the string data, then we can use quite a few normal python string operations.

### This is how to get a list out of all those string values, andI want the 4th item which is a little weird in pandas.

In [25]:
parking_meters['config_name'].str.split().str[3].head()

0    $1.25
1    $1.25
2    $1.25
3    $1.25
4    $1.25
Name: config_name, dtype: object

## I want to get rid of anything that isn't a money value.

In [26]:
parking_meters['cost'] = parking_meters['config_name'][parking_meters['config_name']
                              .str
                              .split()
                              .str[3]
                              .str
                              .startswith('$')].str.split().str[3].str[1:]
parking_meters['cost']

0       1.25
1       1.25
2       1.25
3       1.25
4       1.25
5       1.25
6       1.25
        ...
4646    1.25
4647    1.25
4648    1.25
4649    1.25
4650    1.25
4651    1.25
4652    1.25
Name: cost, Length: 4653, dtype: object

## Some of the information we are looking for is in the 5th column.

In [29]:
parking_meters['config_name'][~(parking_meters['config_name']
                              .str
                              .split()
                              .str[3]
                              .str
                              .startswith('$'))].unique()

array(['PBP Pilot Copy of Config 9000',
       'MSPM 2 Hour Max $1.25 HR 8am-6pm Mon-Sat',
       'MSPM 2 Hour Max $1.25 HR 8am-6pm Mon-Fri',
       'MSPM 9 Hour Max $0.75 HR 8am-6pm Mon-Sat',
       'MSPM 4 Hour Max $1.00 HR 8am-6pm Mon-Sat', 'Copy of 8997 with PBP',
       'Copy of 6569 with PBP', 'Copy of 9001 with PBP',
       'MSPM 1 Hour Max $1.25 HR 9am-6pm Mon-Sat',
       'MSPM 4 Hour Max $1.00 HR 8:30am-6pm Mon-Fri',
       'MSPM 9 Hour Max $0.50 HR 8:30am-6pm Mon-Sat',
       'MSPM Ballpark Special Event',
       'Single Space 2 hour meters Petco Special Event',
       'Single Space 30 min meters Petco Special Event P',
       'MSPM 4 Hour Max $1.25 HR 10am-8pm Mon-Sat',
       'MSPM 2 Hour Max $1.25 HR 10am-8pm Mon-Sat',
       'MSPM 4 Hour Max $1.25 HR 8am-6pm Mon-Sat',
       'MSPM 9 Hour Max $0.75 HR 10am-8pm Mon-Sat',
       'MSPM 4 Hour Max $1.00 HR 10am-8pm Mon-Sat',
       'MSPM 2 Hour Max $1.25 HR 8am-6pm Mon-Sat (Fort S',
       'MSPM 12 Hour Max $1.25 HR 24/7  (Front Street)',
       'PBP Pilot Copy of Config 10932', 'PBP Pilot Copy of Config 12661',
       'PBP Pilot Copy of Config 9116', 'PBP Pilot Copy of Config 9115',
       'PBP Pilot Copy of Config 8999', 'PBP Pilot Copy of Config 8997',
       'MSPM 8 Hour Max $0.50 HR 8am-6pm Mon-Sat (Normal'], dtype=object)

In [33]:
parking_meters['cost'] = parking_meters.cost.ffill()
#parking_meters['cost'].fillna('missing')
#parking_meters['cost'].dropna(axis=0) # ragequit!
# interpolation with scipy libs

In [34]:
parking_meters.cost.unique()

array(['1.25', '0.75', '0.50', '1.00'], dtype=object)

## In all of these calls you can see we have been adding on function after function.  Some of these can get pretty long.  So in the future when I have a long call like this I'll be putting the function calls on the next line.  Like so:

In [ ]:
parking_meters['config_name']
        .str
        .split()
        .str[3].unique()

In [36]:
parking_meters.sort_values(['cost', 'config_code'])

,zone,area,sub_area,pole,config_code,config_name,longitude,latitude,cost
1016,Downtown,East Village,700\tTHIRTEENTH ST,13-701,1044,9 Hour Max $0.50 HR 8am-6pm M-Sat,-117.152776,32.712902,0.50
1017,Downtown,East Village,700\tTHIRTEENTH ST,13-703,1044,9 Hour Max $0.50 HR 8am-6pm M-Sat,-117.152816,32.712971,0.50
1018,Downtown,East Village,700\tTHIRTEENTH ST,13-705,1044,9 Hour Max $0.50 HR 8am-6pm M-Sat,-117.152322,32.712693,0.50
1019,Downtown,East Village,700\tTHIRTEENTH ST,13-707,1044,9 Hour Max $0.50 HR 8am-6pm M-Sat,-117.152362,32.712770,0.50
1020,Downtown,East Village,700\tTHIRTEENTH ST,13-709,1044,9 Hour Max $0.50 HR 8am-6pm M-Sat,-117.152778,32.713152,0.50
1021,Downtown,East Village,700\tTHIRTEENTH ST,13-711,1044,9 Hour Max $0.50 HR 8am-6pm M-Sat,-117.152779,32.713382,0.50
1022,Downtown,East Village,700\tTHIRTEENTH ST,13-717,1044,9 Hour Max $0.50 HR 8am-6pm M-Sat,-117.152770,32.713206,0.50
...,...,...,...,...,...,...,...,...,...
3890,Uptown,Fort Stockton,900 block South,FS-900S,13501,MSPM 2 Hour Max $1.25 HR 8am-6pm Mon-Sat (Fort S,-117.171776,32.750727,1.25
3891,Uptown,Front Street,3900 block West,FR-3900W,13502,MSPM 12 Hour Max $1.25 HR 24/7 (Front Street),-117.165210,32.749576,1.25
4625,Uptown,Normal Street,3900 block West,NR-3900W,13503,MSPM 8 Hour Max $0.50 HR 8am-6pm Mon-Sat (Normal,-117.149673,32.748761,1.25
2035,Downtown,Gaslamp,300 Fifth Ave,5-309,13652,"2 Hour Max $1.25 HR 8am-6pm Mon-Sat, No Parkin...",-117.160017,32.708693,1.25
2037,Downtown,Gaslamp,300 Fifth Ave,5-311,13652,"2 Hour Max $1.25 HR 8am-6pm Mon-Sat, No Parkin...",-117.160018,32.708808,1.25
2038,Downtown,Gaslamp,300 Fifth Ave,5-312,13652,"2 Hour Max $1.25 HR 8am-6pm Mon-Sat, No Parkin...",-117.160201,32.708864,1.25
2039,Downtown,Gaslamp,300 Fifth Ave,5-314,13652,"2 Hour Max $1.25 HR 8am-6pm Mon-Sat, No Parkin...",-117.160203,32.708980,1.25

## We will do more data transformation and munging next time